.custom {
    width: 180px !important;
}
.borda{
    border-radius: 80px 20px !important;
}
.logo{
        max-width:200px !important;
        max-height:150px !important;
        width: 0 auto !important;
        height: 0 auto !important;
    
}

